.colorPicker {
  display: grid;
  gap: 10px;
}

.block {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  transition: all 0.3s;
}

.picker {
  width: 20%;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 5px;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
}

.gradientButton {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
}

.buttonLight {
  border: 2px solid #222;
}

.buttonDark {
  border: 2px solid #fff;
}
