.colorPicker {
  display: grid;
  gap: 10px;
  align-items: center;
  position: relative;
}

.block {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.picker {
  width: 10%;
  border: none;
  border-radius: 5px;
}

.palette {
  cursor: pointer;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
}

.gradientButton {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
}

.buttonLight {
  border: 2px solid #222;
}

.buttonDark {
  border: 2px solid #fff;
}
.hex {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 28px;
  width: 130px;
  font-family: "Montserrat", sans-serif;
}

.colorLight {
  color: #222;
}

.colorDark {
  color: #fff;
}
