@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;

  background-color: #222;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.counter {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.control {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
